/*STYLE*/

/*INDEX*/
h1 {
  font-size: 60px;
  font-family: Poor Richard;
  color: #ece3db;
}

.cabeçalho {
  background-color: #ac2523;
  color: #31241b;
  text-align: center;
  font-size: 24p;
  padding: 20px;
}

.menu {
  background-color: #313131;
  color: #31241b;
  padding: 5px;
  justify-content: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.menu a {
  color: #31241b;
  background: #ece3db;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.menu a:hover {
  background: #eedbcc;
  color: #31241b;
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/artemoderna.jpg);
}

.body {
  background-color: #ece3db;
  color: #31241b;
  padding: 20px;
}

.conteúdo {
  background-color: #ece3db;
  color: #31241b;
  padding: 20px;
}

.rodapé {
  text-align: center;
  background-color: #ece3db;
  color: #31241b;
  padding: 5px;
}

/*SOBRE*/
/*CONTEÚDO*/
/*CURIOSIDADE*/
/*CONTATO*/
