/*STYLE*/
.escrita {
  text-align: center;
}

.lista {
  text-align: center;
}

.lista p {
  color: #000;
  background: #fff;
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 6px;
  transition: 0.3s;
}
.lista p:hover {
  transform: scale(1.03);
  color: #000;
  background: #000;
  border: 2px solid #000;
  box-shadow: 12px #000;
}

.corpo {
  font-family: Century;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  justify-content: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.quadrado {
  color: #1b1717;
  background: #fff;
  text-decoration: none;
  padding: 30px 90px;
  border-radius: 20px;
  transition: 0.3s;
}

.mensagem {
  text-align: center;
}
/*FONT-STYLE*/
h1 {
  font-family: Poor Richard;
}

h2 {
  font-size: 30px;
  font-family: Poor Richard;
  color: #ac2523;
  text-align: center;
  background-color: #fff;
  padding: 10px;
}

h3 {
  font-family: Century;
}

h4 {
  font-family: Century;
}
h5 {
  font-family: Century;
}

/*ÍNICIO*/
.título {
  color: #e4281f;
  background-color: #fff;
}

.título h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

.cabeçalho {
  background-color: #fff;
  color: #1b1717;
  text-align: center;
  font-size: 24p;
  padding: 20px;
}

.cabeçalho h1 {
  color: #e4281f;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

.menu {
  font-family: Century;
  background-color: #fff;
  color: #1b1717;
  padding: 10px;
  justify-content: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.menu a {
  color: #1b1717;
  background: #e41f2f;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.menu a:hover {
  background: #fff;
  color: #1b1717;
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/artemoderna.jpg);
}

.imginicio{
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  font-family: Century;
  background-color: #fff;
  color: #1b1717;
  padding: 20px;
}

.conteúdo {
  font-family: Century;
  background-color: #fff;
  color: #1b1717;
  padding: 20px;
}

.rodapé {
  text-align: center;
  background-color: #fff;
  color: #1b1717;
  padding: 5px;
}

/*SOBRE*/


/*CONTEÚDO*/


/*CURIOSIDADE*/


/*CONTATO*/
